<div class="flex flex-col mx-auto">
  <h1 class="text-3xl font-bold text-center">
    Satellites
  </h1>

  <div data-controller="satellite" class="flex flex-col">
    <div class="flex flex-row items-center mx-auto">
      <label for="satellite-number" class="">Max number of Satellites :</label>
      <input id="satellite-number"
             type="number"
             class="border-none w-28 bg-indigo-950"
             data-satellite-target="satelliteNumber"
             min=1 placeholder=20>
    </div>

    <button data-action="click->satellite#getTargetSatellites"
            class="p-3 mx-auto my-2 border rounded-lg">
      Get Satellites
    </button>
  </div>

  <p class="mx-auto my-2 text-center">
  Here are <%= @satellites.count %> satallites currently orbiting the earth.
  </p>

  <div class="mx-auto mb-4 border md:table center">
    <div class="border md:table-row">
      <div class="px-2 py-1 font-bold text-center border md:table-cell">
        Satallite Name
      </div>
      <div class="px-2 py-1 font-bold text-center border md:table-cell">
        Satallite ID
      </div>
    </div>
    <% @satellites.all.each do |satellite| %>
      <div class="border md:table-row">
        <div class="px-2 py-1 text-center border md:table-cell">
          <%= satellite.name %>
        </div>
        <div class="px-2 py-1 text-center border md:table-cell">
          <%= link_to satellite.satellite_id,
                      satellite,
                      class: "hover:ring hover:ring-blue-500/75 rounded-lg p-1"
          %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="flex flex-col mx-auto">
    <input class=""
           type="text"
           placeholder="123.000, 12345.945"
           id="lat-and-long-position">
    <label for="lat-and-long-position" class="text-center">
      Enter your location (Latitude, Longitude)
    </label>
  </div>
</div>

